body {
  background-color: #423071;
  color: #fff;
}

.media img {
  max-width: 50px;
  border-radius: 20%;
}

.weatherDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Pulse the spinner div opacity */
#spinner {
  -webkit-animation: pulse 2s infinite;
  -moz-animation: pulse 2s infinite;
  -o-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@-moz-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@-o-keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}
@keyframes pulse {
  0%   { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}

